Neighborgoods.xcodeproj/project.xcworkspace/xcuserdata/m-use.xcuserdatad/UserInterfaceState.xcuserstate
Neighborgoods.xcodeproj/project.xcworkspace/xcuserdata/
Neighborgoods.xcodeproj/xcuserdata/lbaker.xcuserdatad/

*.DS_Store
